:root {
    --navy: #404258;
    --lower_navy: #404258F3;
    --gray: #474E68;
    --white: #ffffff;
    --btn_add: #de4c4a;
    --btn_cancel: #292929;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 5vh;
    background-color: var(--navy);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 26px;
}
.logo img {
    margin-left: 10px;
}
.container {
    height: 95vh;
    display: grid;
    grid-template-columns: 305px 1fr;
    grid-auto-flow: column;
    
}

/* LEFT MENU */
.left_menu {
    background-color: #3e4058;
    padding: 30px 20px;
}

.nav {
    list-style: none;
}

.nav li{
    margin: 10px 0;
    font-size: 16px;
    color: var(--white);
    padding: 6px;
    cursor: pointer;
}

.nav li:hover{
    background-color: #42445e;
    border: 3px;
    border-radius: 5px;
}

.nav li img {
    vertical-align: middle;
}
.nav li span {
    margin-left: 4px;
}

.add-project-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--white)
}
.project-btns {
    display: flex;
    
}

.arrow {
    height: 16px;
    width: 16px;
    padding-top: 2px;
    margin: 0px 3px 0px 15px;
}
.arrow::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
    transition: transform .25s;
}
.arrow.down::before {
    transform: rotate(-135deg);
    transition: transform .25s;
}

.project_menu ul {
    list-style: none;
    cursor: pointer;
}

.nav-project {
    visibility: hidden;
    opacity: 0;
    transition: opacity 5s linear;
} 

.dropdown {
    visibility: visible;
    cursor: none;
    opacity: 1;
}

.nav-project li, .dropdown li{
    margin-left: 9px;
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    display: flex;
    
    align-items: center;
    position: relative;
}

.project-delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 5px 0 0;
    
    
}

.nav-project li, .dropdown li::before {
    /* content: url("../assets/bullet.png"); */
    content: "•";
    display: inline-block; 
    width: 1em;
    font-size: 24px;
    
    /* background-color: aqua; */
}

.nav-project li:hover, 
.dropdown li:hover
{
    background-color: #42445e;
    border: 3px;
    border-radius: 5px;
}

.active{
    background-color: #42445e;
    border: 3px;
    border-radius: 5px;
}


/* Project Form after on click + */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    width: 450px;
    margin: 5% auto 15% auto;
    border: 1px solid #000;
    background-color: var(--navy);
    color: var(--white);
    border: 10px;
    border-radius: 10px;
}

.projectHeader {
    font-size: 12px;
    padding: 15px;
}

.projectContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.projectContent span {
    margin: 5px 0;
}
.inputForm, select {
    width: calc(100% - 12px);
    background-color: var(--navy);
    border: 2px solid;
    border-color:  var(--gray);
    border-radius: 5px;
    padding: 10px;
    color: var(--white)
}

hr {
    border-bottom: 1px solid var(--white);
}

.btn_container {
    padding: 15px;
    display: flex;
    justify-content: end;
    width: calc(100% - 12px);
}

.btn-cancel, .btn-submit {
    padding: 5px 10px;
    border: 0px;
    border-radius: 3px;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    
}
.btn-cancel {
    background-color: var(--btn_cancel);
    margin-right: 10px;
}

.btn-submit {
    background-color: var(--btn_add);
    
}

/* RIGHT CONTENT */
.main_container {
    background-color: var(--gray);
    width: 100%;
}

.view_content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 43px auto;
}
#mainHeader {
    color: #fff;
}
.TaskList {
    color: var(--white);
    font-size: 16px;
}

.taskBox {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-left: 5px solid #fff;
    font-size: 14px;
    
}

.taskCheck input[type="checkbox"]{
    background-color: red;
    display: block; 
    width: 30px;
    height: 14px;   
}

.taskName {
    flex-grow: 2;
    margin: 0 5px;
}

.taskDueDate{
    margin: 0 10px;
}

.taskDescription {
    margin: 0 5px;
}

.taskEdit {
    margin: 0 5px;
}
.taskRemove {
    color: red;
    margin: 0 10px;
}

.taskRemove:hover, .taskEdit:hover{
    transition: 0.8s;
    mix-blend-mode: soft-light;
    cursor: pointer;
}

/* Task Checked */
.checked > .taskName, .checked > .taskDueDate{
    text-decoration: line-through;
}

.checked > .taskEdit img, .checked > .taskRemove{
    opacity: 0.3;
}

.checked > .taskEdit img:hover, .checked > .taskRemove:hover{
    opacity: 0.9;
}

/* Task Details */
.taskDetailsModal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 60px;
}

.taskDetails {
    width: 450px;
    margin: 15% auto 15% auto;
    border: 1px solid #000;
    background-color: var(--navy);
    color: var(--white);
    border: 10px;
    border-radius: 10px;
    padding: 30px;
}

.taskDetailsName {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.taskDetailsDuedate {
    margin: 5px 0;
}

.taskDetailsPriority {
    margin: 5px 0;
}

.taskDetailsDescription{
    inline-size: 150px;
    overflow-wrap: break-word;
}



/* Inbox Content */
.inbox {
    color: var(--white)
}

.add_task_btn {
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    margin: 20px 10px;
    display: flex;
}

.add_task_btn span {
    margin-left: 10px;
}

.weekContainer {
    display: none;
}
.inboxContainer {
    display: none;
}

.hideContainer {
    display: none;
}

.showContainer {
    display: block;
}

.textAreaForm {
    width: calc(100% - 12px);
    height: 150px;
    background-color: var(--navy);
    border: 2px solid;
    border-color:  var(--gray);
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    resize: none;
}

.error {
    width: calc(100% - 12px);
    background-color: var(--navy);
    border: 2px solid;
    border-color:  red;
    border-radius: 5px;
    padding: 10px;
    color: var(--white)
}


small {
    margin-top: 10px;
    color: red;
    display: none;
}

.errorText {
    margin-top: 5px;
    color: red;
}

::-webkit-calendar-picker-indicator{
    background-color: var(--navy);
    
}



@media (max-width: 767px) {
    header {
        justify-content: center;
        /* padding: 30px; */
    }

    .logo p{
        color: var(--white)
    }
    
    .main_container {
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        
    }

    .nav-project {
        display: none;
    }

    .add-project-bar span{
        margin-left: 7px;
    }
}

