<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class="logo">
            <p>Todo List</p>
        </div>
        <!-- <button class="add_task_btn" onclick="document.getElementById('hiddenFormToday').display = 'block'" ><img src="<%= require('./assets/plus.png') %>" alt=""  width="16px" onclick=""><span>Add task</span></button> -->
    </header>

    <div id="hiddenForm" class="modal" >
        <form id="projectForm" class="modal-content animate" action="#">

            <div class="projectFormContainer">
                <div class="projectHeader" >
                    <h1>New Project</h1>
                </div>
                <hr>
                <div class="projectContent">
                    <span>Name</span>
                    <input type="text" name="project_name" class="inputForm" maxlength="100">
                    <small class="errorText"></small>
                </div>
                <div class="btn_container">
                    <button type="button" onclick="document.getElementById('hiddenForm').style.display='none'" class="btn-cancel">Close</button>
                    <button id="create-project" class="btn-submit" >Add Project</button>
                </div>
            </div>

        </form>
    </div>

    <div id="hiddenTaskForm" class="modal">
        <form id="taskForm" class="modal-content animate" action="#">
            <div class="projectFormContainer">
                <div class="projectHeader">
                    <h1>New Task</h1>
                </div>
                <hr>

                <div class="projectContent">
                    <span>Title</span>
                    <input type="text" name="taskName" class="inputForm" maxlength="100">
                </div>

                <div class="projectContent">
                    <span>Description</span>
                    <textarea name="taskDescription" id="" class="textAreaForm" maxlength="270"></textarea>
                </div>

                <div class="projectContent">
                    <span>Due Date:</span>
                    <input id="dateTask" type="date" name="taskDate"  class="inputForm">
                </div>

                <div class="projectContent">
                    <span>Priority</span>
                    <select name="taskPriority" id="" class="inputForm select-wrapper">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>           
                    </select>
                </div>

                <div class="projectContent">
                    <span>Project</span>
                    <select  name="taskProject" id="projectTask" class="inputForm">
                        <option value="0">Inbox</option>
                    </select>
                </div>
                
                <div class="btn_container">
                    <button type="button" onclick="document.getElementById('hiddenTaskForm').style.display='none'" class="btn-cancel">Close</button>
                    <button class="btn-submit">Add Task</button>
                </div>
            </div>
        </form>
    </div>
    


    <div class="container">
        <div class="left_menu">
            <div class="top_menu">
                <ul class="nav">
                    
                    <li class="inbox-btn"  projectid = "0"  data-id="inbox">
                        <img src="<%= require('./assets/inbox.png') %>"  alt="" width="24px">
                        <span>Inbox</span>
                    </li>
                    <li id="today" class="today-btn active"  data-id="today">
                        <img src="<%= require('./assets/today.png') %>" alt="" width="24px">
                        <span>Today</span>
                    </li>
                    <li id="week" class="week-btn"  data-id="week">
                        <img src="<%= require('./assets/7-days.png') %>" alt="" width="24px">
                        <span>Week</span>
                    </li>
                </ul>
            </div>

            <div class="project_menu">
                <div class="add-project-bar">
                    <span>Projects</span>
                    <div class="project-btns">
                        <img src="<%= require('./assets/plus.png') %>" alt="" id="create_btn" width="16px" >
                        <div id="arrow" class="arrow" aria-expanded=false></div>
                    </div>
                </div>
                
                <ul id="projectList" class="nav nav-project" >
                    <li>s</li>
                    <li name="Siłownia">Siłownia</li>
                    
                </ul>
            </div>
        </div>

        <div class="main_container">
            <!-- Inbox content -->
            <!-- <div class="inboxContainer" id="inbox">
                <h1>Inbox</h1>
            </div> -->
            
            <!-- Week content -->
            <!-- <div class="weekContainer" id="week">
                <h1>Week</h1>
                
            </div> -->
            
            <!-- Today content -->
            <div class="showContainer todayContainer" id="today">
                <h1>Today</h1>
            </div>
            
            
            <button class="add_task_btn"  ><img src="<%= require('./assets/plus.png') %>" alt=""  width="16px" onclick=""><span>Add task</span></button>
            <!-- <button class="add_task_btn" onclick="document.getElementById('hiddenTaskForm').style.display = 'block'" ><img src="<%= require('./assets/plus.png') %>" alt=""  width="16px" onclick=""><span>Add task</span></button> -->
        </div>
    </div>

</body>
</html>