<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class="logo">
            <p>Todo List</p>
        </div>
        
    </header>

    <div id="hiddenForm" class="modal" >
        <form class="modal-content animate" action="#">

            <div class="projectFormContainer">
                <div class="projectHeader" >
                    <h1>New Project</h1>
                </div>
                <hr>
                <div class="projectContent">
                    <span>Name</span>
                    <input type="text" name="project_name">
                </div>
                <div class="btn_container">
                    <button type="button" onclick="document.getElementById('hiddenForm').style.display='none'" class="btn-cancel">Close</button>
                    <button class="btn-submit">Add Project</button>
                </div>
            </div>

        </form>
    </div>

    <div class="container">
        <div class="left_menu">
            <div class="top_menu">
                <ul class="nav">
                    
                    <li>
                        <img src="<%= require('./assets/inbox.png') %>" alt="" width="24px">
                        <span>Inbox</span>
                    </li>
                    <li>
                        <img src="<%= require('./assets/today.png') %>" alt="" width="24px">
                        <span>Today</span>
                    </li>
                    <li>
                        <img src="<%= require('./assets/7-days.png') %>" alt="" width="24px">
                        <span>Week</span>
                    </li>
                </ul>
            </div>

            <div class="project_menu">
                <div class="add-project-bar">
                    <span>Projects</span>
                    <div class="project-btns">
                        <img src="<%= require('./assets/plus.png') %>" alt="" id="create_btn" width="16px" onclick="document.getElementById('hiddenForm').style.display='block'">
                        <div id="arrow" class="arrow" aria-expanded="false"></div>
                       
                    </div>
                </div>
                
                <ul class="nav-project">
                    <li><span style="font-size: 16px;">s</span></li>
                    <li>Siłownia</li>
                    <!-- <li>exampleexamp</li> -->
                </ul>
            </div>
        </div>

        <div class="main_container">
            <!-- Inbox content -->
            <div class="inbox">
                <h1>Inbox</h1>
                <button class="add_task_btn" ><img src="<%= require('./assets/plus.png') %>" alt=""  width="16px" onclick=""><span>Add task</span></button>
            </div>
                
            <!-- Today content -->
            <!-- <div class="inbox">
                <h1>Today</h1>
                <button class="add_task_btn" ><img src="<%= require('./assets/plus.png') %>" alt=""  width="16px" onclick=""><span>Add task</span></button>
            </div>     -->
            <!-- Week content -->



        </div>
    </div>

</body>
</html>